html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100vw;
  box-sizing: border-box;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background-color: rgba(255, 255, 255, .8);
}

.close-btn {
  padding: 3px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.mind-display {
  white-space: pre-wrap;
  height: 100vh;
  width: 100%;
  font-size: 13px;
  overflow-y: auto;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity .3s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.mind-elixir {
  font-family: sans-serif !important;
}

toolbar.rb {
  /*display: none;*/
}

toolbar.lt {
  transform: translateY(20px);
}

.map-container .map-canvas {
  background: rgba(255, 255, 255, 0.5) !important;
  /*background: rgba(0, 0, 0, 0.6) !important;*/
  backdrop-filter: blur(3px);
}

.map-container .box t tpc {
  color: #242424 !important;
}
