html, body {
  padding: 0;
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background-color: rgba(57, 57, 57, 0.01);
  min-height: 100vh;
}

.calendar-wrap {
  width: 100%;
  height: 80%;
  position: absolute;
}

.calendar-inner {
  position: absolute;
  top: 50px;
}

h1 {
  color: red;
  font-size: 20px;
  text-align: center;
}
